@import url('https://fonts.googleapis.com/css2?family=Exo%202:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  color: white;
  background-color: rgb(20, 20, 20);
  font-family: 'Exo 2', sans-serif;
  /* font-family:'JetBrains Mono', 'Fira Code', monospace; */
}
body::after {
  content: '';
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 0.2vh,
    rgba(0, 0, 0, 0.05) 0.2vh,
    rgba(0, 0, 0, 0.05) 0.4vh
  );
  pointer-events: none;
  z-index: 9999;
}
/* Custom scrollbar */
::-webkit-scrollbar { width: 0.2vw; height: 0.5vh; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--accent); border-radius: 0.2vw; }

:root {
  --bg-primary: #0a0a0f;
  --bg-secondary: #111118;
  --bg-glass: rgba(255, 255, 255, 0.04);
  --border-subtle: rgba(255, 255, 255, 0.08);
  --border-accent: rgba(99, 212, 255, 0.3);
  --accent: #63d4ff;
  /* --accent-2: #a78bfa; */
  --accent-2: white;
  --text-primary: #e8eaf0;
  --text-secondary: #8b8fa8;
}

@utility glass {
  @apply
  bg-(--bg-glass)
  backdrop-blur-[1vw]
  border-[0.12vw]
  border-(--border-subtle)
}

@layer components {
  .taskbar {
    @apply
    relative
    px-[2%] py-[0.5%] items-center
    grid grid-cols-[20%_60%_20%] grid-rows-1
  }
  .appIcon {
    @apply 
    hover:shadow-[0_0_0.7vh_var(--accent-2)]
    hover:scale-105  hover:cursor-pointer 
    rounded-[4%]
    overflow-visible transition
  }
  .tbAppTitle {
    @apply 
    text-[1.5vh] rounded-[0.35vh] px-[0.3vw] py-[0.2vh]
    justify-self-center absolute bottom-[170%] 
    bg-transparent group-hover:bg-gray-400/30
    text-transparent group-hover:text-white
    transition-all duration-300
  }
  .topBarIcon {
    @apply
    aspect-square w-auto h-full py-[7%]
    hover:scale-115 transition cursor-pointer
  }
  .OSIcon {
    @apply 
    rounded-[25%] w-[min(1.8vw,4vh)] aspect-square 
     text-black font-bold
    bg-(--accent) hover:bg-(--accent-2) hover:cursor-pointer shadow-[0_0_5px_var(--accent-2)] hover:shadow-[0_0_20px_var(--accent)]
    transition-colors transition-shadow
  }
  .appMainDiv{
    @apply 
    glass
    w-[70vw] h-[70vh] ml-[15vw] mt-[15vh]
    rounded absolute z-100 transition-all
      overflow-hidden
  }
  .appMainDiv[data-maximized="true"]{
    @apply w-full h-full m-0 border-none rounded-none
  }
  .appContainer{
    @apply
      @container flex-1 min-h-0 overflow-y-auto py-[2%]
  }
  .gg {
    @apply bg-gradient-to-br from-orange-200 to-yellow-500 bg-clip-text text-transparent
  }
}

.taskbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: .2vh;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--accent) 10%,
    var(--accent) 90%,
    transparent 100%
  );
}